.content {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.time-tracking-container {
  background-color: rgb(249, 249, 249);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  border-radius: 5px;
}

.time-slot {
  height: 300px;
  border-radius: 5px;
  color: rgb(123, 123, 123);
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(239, 239, 239);
  width: 100%;
  text-align: center;
  padding: 20px 10px;
}

.time-slot input {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.time-slot:not(:last-child) {
  margin-right: 18px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.dates-period {
  color: rgb(123, 123, 123);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;

  color: rgb(123, 123, 123);
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(239, 239, 239);

}

.margin-right-20 {
  margin-right: 20px
}
